.App {
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 75% 10%;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5vh;
  background-color: #222831 ;
  color: #EEEEEE;
}

h1{
  margin: 0;
}

.header,.footer,.main-content {
  border: solid 1px black;
}

.main-content{
  background-color: #31363F;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-links{
  display: flex;
  list-style: none;
  font-weight: bold;
  padding: 0;
}

li {
  margin-right: 30px;
}

.trending-container{
  overflow-y: scroll;
  height: 100%;
}

.title-card{
  border: solid 1px black;
  height: auto;
  width: 300px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #222831;
  border-radius: 5px;
  color: #EEEEEE;
  transition: 0.3s;
  cursor: pointer;
}

.title-card:hover{
  background-color:#EEEEEE ;
  color:#222831 ;
  transform: scale(1.05)
}

.vote-average{
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  color:#EEEEEE;
  background-color: #76ABAE;
  border-radius: 20px;
  border-top-right-radius: 5px ;
  font-weight: bold;
}

.title{
  text-align: center;
}


.media-type_and_first-date{
  display: flex;
  justify-content: space-between;
}

.title-cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #31363F;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #EEEEEE;
  width: 60%; /* Could be more or less, depending on screen size */
  position: relative;
  border-radius: 5px;
  color: #EEEEEE;
}


.modal-image{
 justify-content: center;
 align-items: center;
 display: flex;
}

.modal-title{
  text-align: center;
}

.modal-overview{
  text-align: left;
}

.trailer-button{
  text-align: center;
  border: solid 1px #EEEEEE;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: block;
}

.trailer-button:hover{
  border: solid 1px black;
  color: black;
}



/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pagination{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.footer{
  background-color: #222831 ;
}

.links{
  color: #EEEEEE;
  text-decoration: none;
  transition: 0.3s;
}

.links:hover{
  color : lightseagreen
}

.selected-link {
  text-decoration: underline;
  color: lightseagreen;
}

.MuiPagination-ul > li > button{
  color: #EEEEEE;
  border-color: #EEEEEE;
}

.MuiPagination-ul > li > div{
  color: #EEEEEE;
  border-color: #EEEEEE;
}




/* movies */
.movies-container {
  overflow: auto;
  height: 100%;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.genres-button{
  background-color: #222831;
  color: #EEEEEE;
  border-style: none;
  margin: 5px;
  font-size: 1.8vh;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #222831;
  transition: 0.3s;
}

.genres-button:hover{
  background-color: #EEEEEE;
  color:#222831

}


.genres{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;

}

.genres-button-clicked{
  background-color: #222831;
  color: lightseagreen;
  border: solid 1px lightseagreen ;
  margin: 5px;
  font-size: 1.8vh;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}


/* tv-series */

.tv-series-container{
  overflow-y: auto;
  height: 100%;
}

.tv-series {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

/* search */

.input-bar{
  display: flex;
  margin: 10px;
}

.input{
  width: 100%;
  margin-right: 10px;
  padding: 10px;
  background-color: #EEEE;
  border: none;
  border-radius: 5px;
}

.search-button{
  border-radius: 5px;
  background-color: #222831;
  color: #EEEEEE;
  border: solid 1px #222831;
  transition: 0.3s;
  cursor: pointer;
}

.search-button:hover{
  color: lightseagreen;
  border: solid 1px lightseagreen ;
}

.choice-button{
  background-color: #31363F;
  color: #EEEEEE;
  border: solid 1px #31363F;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size:xx-large ;
  transition: 0.3s;
  width: 200px;
}


.choice-button:hover{
  background-color: #31363F;
  color: lightseagreen;
}

.choice-button-clicked{
  background-color: #31363F;
  color: lightseagreen;
  border: solid 1px #31363F;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size:xx-large ;
  text-decoration: underline;
  width: 200px;
}

.movieOrTv{
  text-align: center;
}

.or{
  color:#EEEEEE;
  font-size:xx-large ;
}


/* height for search component  */

.search-container {
  height: 100%;
  display: grid;
  grid-template-rows: 7.5% 7.5% 85%;
}

.directions-container{
  display: flex;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.direction-icon-container{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-directions, .no-result-text{
  color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem ;
  font-style: italic;
  color: lightseagreen;
  
}


.no-result-container{
  margin-top: 50px;
  width: 100%;
}

.no-result-icon{
  display: flex;
  justify-content: center;
}

.no-result-text {
  margin-top: 20px;
}



.search-contents {
  overflow-y: scroll;
}

.tv-series{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* carousel try */


.carousell-holder{
  position: relative;
  height: 25vh;
  border: solid 1px #EEEEEE;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousell-image{
  display: flex;
  margin: 0 50px;
  justify-content: space-evenly;
  width: 100%;
}

.carousell-image > div >img {
  height: 150px;
}

.left-button{
  background-color: #31363F;
  border: none;
  position: absolute;
  left: 1px;
}

.right-button{
  background-color: #31363F;
  border: none;
  position: absolute;
  right: 1px;
}

/* carousel */

.carousell {
  margin: 5px;
  margin-bottom: 10px;
}

/* loading-component */

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* scrollbar css */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(238,238,238, 0.7); 
  border-radius: 20px;
  margin: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  cursor: pointer;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(32, 178, 170, .8); 
}
